@font-face {
  font-family: "LICENSE PLATE USA Regular";
  font-style: normal;
  font-weight: normal;
  src: local("LICENSE PLATE USA Regular"),
    url("LICENSE PLATE USA.woff") format("woff");
}

.license-plate {
  font-family: "LICENSE PLATE USA Regular";
  font-size: x-large;
  background-color: rgb(17, 14, 21);
  color: rgb(221, 163, 56);
}
.license-plate-state {
  font-family: "LICENSE PLATE USA Regular";
  font-size: x-small;
  background-color: rgb(17, 14, 21);
  color: rgb(221, 163, 56);
}
